# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages that Data Scientists use
* List of commonly used libraries used by Data Scientists
* List of open source tools used in data science

Some of the popular languages that Data Scientists use are:

1. PYTHON
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data_Science_Tools|
|------------------|
|MySql|
|MongoDB|
|Apache CouchDb|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author

Neethu